<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIAR SESION HDF</title>

    <link rel="stylesheet" href="./estilos.css">

</head>
<body style="background-color: #b96eff;text-align: center;">
    <form style="background-color: white;display: inline-block;">
        <section>
            <h3>INICIAR SESION</h3>
        </section>

        <section style="margin-bottom: 20px;display: inline-block;"
            <label for="email">Correo Electronico</label>
            <input type="email" id="email" placeholder="Ingrese su Correo" required autocomplete="none">
        </section>

        <section style="margin-bottom: 20px;">
            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Ingrese su Contraseña" required>
        </section>

        <section>
            <input type="submit" class="login-btn" value="INGRESAR">
        </section>
    </form>
</body>
</html>